#mapid { 
    height: 500px; 
    position: relative;
}
.layer1{
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border: rgb(114, 114, 114) 1px solid;
    padding: 10px;
    height: 20px;
    width: 20px;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('../../assets/layers.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center; */
}
img{
    height: 30px;
    width: 30px;
}
li{
    list-style: none;
}
.layer{
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border: rgb(114, 114, 114) 1px solid;
    height: 50px;
    width: 130px;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    z-index: 999;
}
ul{
    padding: 0;
}
